In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dataset.csv")

df.head()

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

In [3]:
df.language.value_counts()

Estonian      1000
Tamil         1000
Thai          1000
Swedish       1000
Spanish       1000
French        1000
Latin         1000
Urdu          1000
Chinese       1000
Korean        1000
Dutch         1000
Indonesian    1000
Pushto        1000
Romanian      1000
Persian       1000
Turkish       1000
Arabic        1000
English       1000
Hindi         1000
Russian       1000
Portugese     1000
Japanese      1000
Name: language, dtype: int64